.ipynb_checkpoints/context_store-checkpoint.py
.ipynb_checkpoints/context_store_json-checkpoint.py
**/*.cpython-312..pyc
.ipynb_checkpoints/MODULE_DEV_AGENT_PRIME-checkpoint.md
.ipynb_checkpoints/INSTRUCTIONS_multi-gpt-code-dev-checkpoint.md
.ipynb_checkpoints/INSTRUCTIONS_GENERIC-checkpoint.md
.ipynb_checkpoints/COMMON_PROTOCOL-checkpoint.md
.ipynb_checkpoints/MASTER_AGENT_PRIME-checkpoint.md
**/*.cpython-312..pyc
**/*.cpython-312..pyc
